<p>index.html.erb</p>

<hr>
<% if user_signed_in? %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign in with Twitter",  user_omniauth_authorize_path(:twitter) %>
<% end %>
